.aside{
  position: relative;
}

.articleBar{
  position: fixed;

  top: calc(clamp(30px, 10vw, 60px) + clamp(10px, 2vw, 15px));
  left: 0px;

  height: calc(100vh - calc(clamp(30px, 10vw, 60px) + clamp(10px, 2vw, 15px) + clamp(30px, 3vw, 3vw)));
  width: clamp(100px, 10vw, 10vw);

  padding: clamp(30px, 3vw, 3vw);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-dark-color);
  z-index: 5;

  color: var(--primary-light-color);

  overflow: auto;

  transition: left 0.2s ease-out;
}

.articleBar::-webkit-scrollbar{
  display: none;
}

.articleBar h6{
  margin: 0px;
}

.chapterOl{
  align-self: flex-start;
  margin: 0px;
  padding: 0px;
}

.chapterOl li{
  margin: 1cqw 0px;
}

.chapterOl li a{
  color: var(--primary-light-color);
  text-decoration-color: var(--secondary-contrast-color);
  text-underline-offset: 4px;
}

.chaptersHr{
  width: 100%;
  margin: clamp(20px, 2vw, 2vw) 0px;
}

.subChapterUl{
  list-style-type: none;
}

.chaptersClose{
  position: absolute;
  top: clamp(18px, 1.8vw, 1.8vw);
  left: calc(clamp(100px, 10vw, 10vw) + clamp(45px, 4.2vw, 4.2vw));

  background-color: transparent;
  border: none;
  color: var(--primary-light-color);
}

.chaptersClose small{
  font-weight: 100;
}

.chaptersClose:hover{
  cursor: pointer;
}