.navbar{
  width: calc(100% - 50px);
  height: clamp(30px, 10vw, 60px);

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 15px 25px;

  background-color: var(--primary-light-color);


  position: fixed;
  top: 0px;
  left: 0px;


  border-bottom: 3.5px solid var(--secondary-contrast-color);
}

.navUl{
  list-style-type: none;

  display: inline;

  margin: 0px;
  padding: 0px;
}

.navUl li{ 
    display: inline;

    margin: 0px 15px;
}

.navUl li p{ 
  display: inline;
  font-weight: 500;
}

.navLink{
  text-decoration: none;

  color: var(--primary-dark-color);
  text-shadow: 0px 0px 0px var(--tertiary-contrast-color);

  transition: text-shadow 0.15s, color 0.15s;
}
.navLink:hover{
  text-decoration: underline var(--secondary-contrast-color);
}


.navButton{
  color: var(--primary-light-color);
  text-decoration: none;

  background-color: var(--secondary-dark-color);

  padding: clamp(8px, 0.85cqw, 0.85cqw) clamp(18px, 1.5cqw, 1.5cqw);

  margin-left: 20px;

  transition: box-shadow 0.1s;
}
.navButton p {
  font-family:'MedievalSharp';
}
.navButton:hover{
  box-shadow: 3.5px 3.5px 0px var(--secondary-contrast-color);
}