/* Main Page Content */
.mainPageContent{
  margin:0px;
  margin-top: 100px;

  position: sticky;
  top: 0px;

  z-index: 11;

  background-color: var(--primary-dark-color);

  border-top: 4px solid var(--secondary-contrast-color);
}
/* Main Page Content End */








/* About Blog */

.aboutBlog{
  width: calc(100% - var(--standard-padding) * 2);
  height: fit-content;

  color: var(--primary-light-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--standard-padding);
}

.aboutBlog h3{
  margin: var(--standard-padding) 0px;


  text-shadow: clamp(3px, 0.25cqw, 5px) clamp(3px, 0.25cqw, 5px) 0px var(--secondary-contrast-color);
}

.aboutBlog p {
  max-width: 55ch;
}

.aboutBlog img{
  margin-top : var(--standard-padding);
  width: clamp(150px, 20vw, 20vw);
}

/* About Blog End */







/* Read Blog */

.readBlog{
  width: calc(80% - var(--standard-padding) * 2);
  height: fit-content;
  padding: var(--standard-padding);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--tertiary-contrast-color);

  margin: clamp(60px, 6vw, 6vw) auto;

  box-shadow: clamp(5px, 0.6cqw, 0.6cqw) clamp(5px, 0.6cqw, 0.6cqw)  var(--tertiary-light-color), clamp(10px, 1.2cqw, 1.2cqw) clamp(10px, 1.2cqw, 1.2cqw)  var(--secondary-contrast-color);
}

.readBlog h4{
  margin: 0px;
  color: var(--primary-light-color);
  text-align: center;
}

.readButton{
  margin-top: clamp(14px, 2cqw, 2cqw);

  color: var(--primary-dark-color);
  text-decoration: none;
  
  background-color: var(--primary-light-color);

  box-shadow: 3px 3px 0px var(--secondary-contrast-color);

  padding: var(--button-padding);

  transition: transform 0.1s, box-shadow 0.1s;
}
.readButton p {
  margin: 0px;
  font-weight: 500;
}

.readButton:hover {
  box-shadow: -4px -4px 0px var(--secondary-contrast-color);
  transform: rotate(-5deg);
}
/* Read Blog End */