/* Main Page Content */
.mainPageContent{
  margin: 40px 0px 0px 0px;

  position: sticky;
  top: 0px;

  z-index: 11;

  background-color: var(--primary-dark-color);

  border-top: 4px solid var(--secondary-contrast-color);

  box-shadow: 0px 0px 50px var(--secondary-contrast-color);
}
/* Main Page Content End */








/* About Blog */

.aboutBlog{
  width: calc(100% - clamp(30px, 3vw, 3vw) * 2);
  height: fit-content;

  color: var(--primary-light-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(30px, 3vw, 3vw);
}

.aboutBlog h3{
  margin: 0px;
  margin-bottom: clamp(30px, 3vw, 3vw);
}

.aboutBlog p {
  max-width: 55ch;
}

.aboutBlog img{
  margin-top : clamp(30px, 3vw, 3vw);
  width: clamp(250px, 25vw, 25vw);
}

/* About Blog End */